#course-search {
	input, select {
		font-weight: 300;
	}
}

.courses-container {
	.courses-head {
		border-bottom: 1px solid $gray-lighter;

		h2 {
			font-size: $font-size-h4;
		}
	}
}

.courses-loading {
	text-align: center;

	i {
		color: $brand-primary;
		font-size: ceil(( $font-size-h1 * 2 ));
	}
}

.courses-pagination {
	text-align: center;

	a {
		@extend .btn;
		@extend .btn-primary;
	}
}

.courses-results-list {
	li {
		border: 1px solid #dedede;
	}
}

.user-msg {
	width: auto;
	.text-danger,
	.text-success {
		margin: 15px 0;
		padding: 15px;
		text-align: center;
	}
}

.course-desc {
	p {
		border-top: 1px solid $gray-lighter;
		padding-top: 15px;
		margin-bottom: 0;
	}
}

// Course page stuff
.course-terms {
	border-bottom: 1px solid $gray-lighter;
	border-top: 1px solid $gray-lighter;
	margin-bottom: 15px;

	li {
		margin: 15px 30px 15px 0 !important;

		&:last-of-type {
			margin: 15px 0 15px !important;
		}
	}
}

// Masthead search form
.courses-search-col {
	input, button {
		font-weight: 300;
	}

	button {
		i {
			padding-left: 10px;
		}
	}
}
